* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: #a9a9aa;
	border-radius: 10px;
	border: 1px solid transparent;
}
